# directories
.coverage_artifacts
.coverage_cache
.coverage_contracts
artifacts
build
cache
coverage
dist
node_modules
typechain

packages/subgraph/imported
packages/subgraph/generated
packages/subgraph/tests/.bin

# files
*.env
*.log
.DS_Store
.pnp.*
coverage.json

packages/contracts/plugin-info.json

packages/subgraph/deploy-output.txt
packages/subgraph/subgraph.yaml
packages/subgraph/tests/.latest.json
packages/subgraph/tests/helpers/extended-schema.ts
