name: 'contracts'

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'packages/contracts/**'
      - '.github/workflows/contracts-*.yml'

jobs:
  formatting-linting:
    uses: ./.github/workflows/formatting-linting.yml
  tests:
    runs-on: 'ubuntu-latest'
    defaults:
      run:
        working-directory: packages/contracts
    steps:
      - name: 'Check out the repo'
        uses: 'actions/checkout@v3'

      - name: 'Install Node.js'
        uses: 'actions/setup-node@v3'
        with:
          cache: 'yarn'
          node-version: 18

      - name: 'Install the dependencies'
        run: 'yarn install --frozen-lockfile'

      - name: 'Build the contracts'
        run: 'yarn build'
        env:
          ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}

      - name: 'Test the contracts and generate the coverage report'
        run: 'yarn coverage'
        env:
          NETWORK_NAME: ${{ vars.NETWORK_NAME }}
          ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
